/ {
  behaviors {
    rpi: require_prior_idle {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      require-prior-idle-ms = <125>;
      bindings = <&kp>, <&kp>;
    };

    sdel: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp BSPC>, <&kp DEL>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    undmin: underscore_minus {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp UNDER>, <&kp MINUS>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };
};
