/ {
  combos {
    compatible = "zmk,combos";

    combo_esc {
      timeout-ms = <50>;
      key-positions = <14 15 16>; // W E R
      bindings = <&kp ESC>;
    };

    combo_def {
      timeout-ms = <50>;
      key-positions = <45 46 47 48>; // m , . /
      bindings = <&to DEF>;
    };

    combo_bkp {
      timeout-ms = <50>;
      key-positions = <37 38 39 40>; // z x c v
      bindings = <&to BKP>;
    };
  };
};
