/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define BSE 0
#define SYM 1
#define SYS 2

// requires layer aliases
#include "macro.dtsi"
#include "behav.dtsi"
#include "combo.dtsi"

#define ___ &none
#define vvv &trans

/ {
  keymap {
    compatible = "zmk,keymap";

    base {
      display-name = "Base";
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                         &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        ___  
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T                                          &kp Y         &kp U         &kp I         &kp O         &kp P         &eql_usc
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LCTRL     &kp A         &kp S         &kp D         &kp F         &kp G                                          &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp APOS
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮    ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &shft_cw      &kp Z         &kp X         &kp C         &kp V         &kp B         ___                ___           &kp N         &kp M         &kp COMMA     &kp DOT       &fb_slh       &shft_cw
        // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                       ___           &kp LALT      &mo SYM       &spc_morph         &bs_del_sys   &kp RET       &kp LGUI      ___
        //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────┴─────────────╯
			>;
		};

    symbol {
      display-name = "Symbol";
      bindings =  <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___           ___                                            ___           ___           ___           ___           ___           ___  
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp ESC       ___           ___           ___           ___           ___                                            ___           &n7_tilde     &kp N8        &n9_grave     ___           vvv
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LA(TAB)   ___           ___           ___           ___           ___                                            &kp MINUS     &kp N4        &kp N5        &kp N6        ___           vvv
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮    ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LSHIFT    ___           ___           ___           ___           ___           ___                ___           &kp PLUS      &kp N1        &kp N2        &kp N3        &qmrk_excl    vvv
        // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                       ___           ___           ___           vvv                &kp BSPC      &kp N0           ___           ___
        //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────┴─────────────╯
			>;
		};

    system {
      display-name = "System";
      bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             ___           ___           ___           ___           ___           ___                                            ___           ___           ___           ___           ___           ___  
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
           &bt BT_CLR_ALL &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &out OUT_TOG   &bt BT_CLR                                     &kp HOME      ___           &kp PG_UP     &kp END       ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LCTRL     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                         &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___           ___
        // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮    ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
             &kp LSHFT     &kp F6        &kp F7        &kp F8        &kp F9        &kp F10       ___                ___           &kp LA(B)     ___           &kp PG_DN     &kp LA(F)     ___           ___
        // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                       ___           &kp F11       &kp F12       vvv                vvv           ___           ___           ___
        //                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────┴─────────────╯
        >;
    };
	};
};
